{% extends 'base.html' %}
{% block title %}
    International
{% endblock %}

{% block content %}
    <div class="my-3">
        <h1 class="fw-bold">实时国际新闻</h1>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>标题</th>
                <th>更新时间</th>
            </tr>
            </thead>
            <tbody>
            {% for title, url, time in result.values %}
                <tr>
                    <td><a href="{{ url }}">{{ title }}</a></td>
                    <td>{{ time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}



{% block page %}
    <a href="keji" role="button">
        <button type="button" class="btn btn-success">科技</button>
    </a>
    <a href="yule" role="button">
        <button type="button" class="btn btn-success">娱乐</button>
    </a>
    <a href="junshi" role="button">
        <button type="button" class="btn btn-success">军事</button>
    </a>
    <a href="tiyu" role="button">
        <button type="button" class="btn btn-success">体育</button>
    </a>
    <a href="guoji" role="button">
        <button type="button" class="btn btn-success">国际</button>
    </a>
    <a href="caijin" role="button">
        <button type="button" class="btn btn-success">财经</button>
    </a>
    <a href="shehui" role="button">
        <button type="button" class="btn btn-success">社会</button>
    </a>
    <div class="pagination-container">
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; 第一页</a>
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current-page">
            第 {{ page_obj.number }} 页，共 {{ page_obj.paginator.num_pages }} 页
        </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">最后一页 &raquo;</a>
            {% endif %}
        </span>
        </div>
    </div>

{% endblock %}