{% extends 'base.html' %}

{% block title %}
    Society
{% endblock %}
{% block content %}
    {{ close_line_html|safe }}
{% endblock %}



{% block page %}

    <a href="drawkeji" role="button">
        <button type="button" class="btn btn-success">科技</button>
    </a>
    <a href="drawyule" role="button">
        <button type="button" class="btn btn-success">娱乐</button>
    </a>
    <a href="drawjunshi" role="button">
        <button type="button" class="btn btn-success">军事</button>
    </a>
    <a href="drawtiyu" role="button">
        <button type="button" class="btn btn-success">体育</button>
    </a>
    <a href="drawguoji" role="button">
        <button type="button" class="btn btn-success">国际</button>
    </a>
    <a href="drawcaijin" role="button">
        <button type="button" class="btn btn-success">财经</button>
    </a>
    <a href="drawshehui" role="button">
        <button type="button" class="btn btn-success">社会</button>
    </a>

{% endblock %}






